APP_ENVIRONMENT=local
PAYMENT_PROVIDER=fake
AUTHENTICATION_PROVIDER=keycloak
FAKE_PROVIDER_WEBHOOK_SECRET=local-fake-webhook-secret
OAUTH2_JWK_SET_URI=http://localhost:8081/realms/ecommerce/protocol/openid-connect/certs
OAUTH2_ISSUER_URI=http://localhost:8081/realms/ecommerce

ECOMMERCE_DB_URL=jdbc:postgresql://localhost:5433/ecommerce
ECOMMERCE_DB_USERNAME=ecommerce_app
ECOMMERCE_DB_PASSWORD=ecommerce_app_password

TEST_DB_URL=jdbc:postgresql://localhost:5433/ecommerce_test
TEST_DB_USERNAME=ecommerce_app
TEST_DB_PASSWORD=ecommerce_app_password

POSTGRES_HOST_PORT=5433
KEYCLOAK_HOST_PORT=8081
KEYCLOAK_MANAGEMENT_HOST_PORT=9001
KEYCLOAK_ADMIN_USERNAME=admin
KEYCLOAK_ADMIN_PASSWORD=admin
